<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="img/profile.png" alt="">
                <div class="intro-text">
                    <span class="name">Dylan Andrews </span>
                    <span class="skills">Full Stack Web Developer</span>
                </div>
                <div class="social">
                  <a href="/resume.pdf" class="resume icon" aria-hidden="true" data-icon="&#xf306;"><span>Resume</span></a>
                  <a href="//twitter.com/dylan1andrews" class="twitter icon" aria-hidden="true" target="_blank" data-icon="&#xf309;"><span>Twitter</span></a>
                  <i class="fa fa-twitter" aria-hidden="true"><span>CodePen</span></i>
                  <a href="//github.com/DylanAndrews" class="github icon" aria-hidden="true" target="_blank" data-icon="&#xf324;"><span>Github</span></a>
                  <a href="//linkedin.com/in/dylanandr/" class="linkedin icon" aria-hidden="true" target="_blank" data-icon="&#xf32d;"><span>LinkedIn</span></a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- // .social -->
